---
---
<section id="about" class="mx-auto max-w-screen-lg px-3 py-6">
  <h2 class="text-3xl font-semibold mb-3">I have always loved technology</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore repellendus cum ipsam non eius quos consequuntur odit illo, cumque pariatur amet quam eligendi consequatur illum! Error enim assumenda inventore perspiciatis!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur modi rerum quis reiciendis temporibus sunt nesciunt cumque inventore consequatur neque aspernatur esse autem deleniti, debitis, saepe accusantium enim sint natus!</p>

</section>