---
const year = new Date().getFullYear();
---

<footer class="mx-auto w-full p-6 text-sm text-center">
    <p>&copy; {year} <a href="https://github.com/MattPahuta" target="_blank">Matt Pahuta</a>. Made with ❤ in Astro & Tailwind CSS.</p>
</footer>