---
import heroImage from '@assets/profile-square.webp';
import { Image } from 'astro:assets';
import headshot from '../images/profile-square.webp';
---

<section class="flex flex-col lg:h-screen items-center justify-center text-center md:flex-row">
  <div data-testid="hero-img" class="md:flex-shrink-0">
    <Image class="aspect-square rounded-2xl sm:w-56 object-cover shadow-lg shadow-slate-400 dark:shadow-slate-950" src={headshot} alt="Matt Pahuta" />
  </div>
  <div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
    <p>Hello! My name is</p>
    <h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">Matt Pahuta.</h1>
    <p>Frontend web developer.</p>
  </div>

</section>