---
import { Astronav, MenuIcon, MenuItems} from 'astro-navbar';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];
---

<header>
  <Astronav>
    <div class="flex justify-between">
      <a href="" class="logo-link">
        <img src="" alt="" class="logo">
      </a>
      <MenuIcon class="w-4 h-4 text-gray-800" />
    </div>
    <MenuItems class="hidden">
      <ul>
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="flex"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
      </ul>
    </MenuItems>
  </Astronav>
</header>


<script>

</script>