---
import { Icon } from 'astro-icon/components'
---

<section id="skills">
  <div>

  </div>
  <!-- skill badge container grid -->
  <div class="">
    <!-- skill badge -->
    <div class="flex flex-col items-center">
      <Icon
        name="simple-icons--html5"
        title="HTML"
        class="size-10"
      />
      <span>HTML</span> 
    </div>
  </div>
</section>