---
import { Icon } from 'astro-icon/components'
---

<section id="skills" class="py-24 md:px-16">
  <!-- skill badge container grid -->

  <div class="max-w-3xl flex flex-wrap gap-10 items-center justify-center">

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="vscode-icons--file-type-html"
        title="HTML"
        class="size-12"
      />
      <span class="text-sm text-slate-50">HTML</span> 
    </div>

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="vscode-icons--file-type-css"
        title="CSS"
        class="size-12"
      />
      <span class="text-sm text-slate-50">CSS</span> 
    </div>

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="devicon--javascript"
        title="JavaScript"
        class="size-12"
      />
      <span class="text-sm text-slate-50">JavaScript</span> 
    </div>

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="vscode-icons--file-type-reactjs"
        title="JavaScript"
        class="size-12"
      />
      <span class="text-sm text-slate-50">React</span> 
    </div>

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="vscode-icons--file-type-git"
        title="Git"
        class="size-12"
      />
      <span class="text-sm text-slate-50">Git</span> 
    </div>

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="vscode-icons--file-type-astro"
        title="Astro"
        class="size-12"
      />
      <span class="text-sm text-slate-50">Astro</span> 
    </div>

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="vscode-icons--file-type-tailwind"
        title="TailwindCSS"
        class="size-12"
      />
      <span class="text-sm text-slate-50">Tailwind</span> 
    </div>

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="vscode-icons--file-type-sass"
        title="Sass"
        class="size-12"
      />
      <span class="text-sm text-slate-50">Sass</span> 
    </div>

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="devicon--figma"
        title="Figma"
        class="size-12"
      />
      <span class="text-sm text-slate-50">Figma</span> 
    </div>

    <div class="flex flex-col items-center justify-center gap-2 min-w-24 min-h-24 rounded-xl bg-blue-950 shadow-md shadow-slate-950">
      <Icon
        name="vscode-icons--file-type-firebase"
        title="Firebase"
        class="size-12"
      />
      <span class="text-sm text-slate-50">Firebase</span> 
    </div>

  </div>
</section>