---
import { Icon } from 'astro-icon/components'
---

<ul class="flex gap-4 mt-6">
  <li>
    <a href="#">
      <Icon 
        name="github-icon"
        title="GitHub" 
        class="size-8 text-emerald-500"
      />
    </a>
  </li>
  <li>
    <a href="#">
      <Icon 
        name="linkedin"
        title="LinkedIn"
        class="size-8 text-emerald-500"
      />
    </a>
  </li>
  <li>
    <a href="#">
      <Icon 
        name="mail"
        title="Email" 
        class="size-8 text-emerald-500"
      />
    </a>
  </li>
</ul>