<ul class="social-icons">
  <li>
    <a href="#" target="_blank" class="footer-link">
      <span class="git-icon">GitHub</span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" class="footer-link">
      <span class="git-icon">GitHub</span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" class="footer-link">
      <span class="git-icon">GitHub</span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" class="footer-link">
      <span class="git-icon">GitHub</span>
    </a>
  </li>
</ul>