---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';

export interface LayoutProps {
	title: string;
}

const { title = 'Matt Pahuta | Web developer' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-raisin font-sans text-white xs:text-[16px] md:text-[18px]">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>